[Desktop Entry]
Type=Application
Name=Security
Icon=/opt/SecurityPhone/base/on.png
Exec=/usr/bin/invoker --type=d -s /opt/SecurityPhone/base/SecurityPanicCode